[MASTER]
# Disable import errors for modules that exist but pylint can't find
ignored-modules=modules

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    import-error,
    too-few-public-methods,
    duplicate-code,
    no-member,
    fixme,
    too-many-instance-attributes

[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of attributes for a class
max-attributes=10

# Maximum number of local variables for function / method body
max-locals=25

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of branch for function / method body
max-branches=12

# Maximum number of statements in function / method body
max-statements=50

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=10
